name: Metrics

on:
  schedule:
    - cron: "0 */12 * * *" # every 12 hours
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: IrvinngB
          template: classic
          base: header, activity, community, repositories
          config_timezone: America/Panama
          config_output: svg
          filename: metrics.svg
          
          # Isocalendar plugin (como la culebrita pero con stats)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          
          # Languages plugin
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_colors: "0:007f5f,25:2b9348,50:55a630,75:80b918,100:aacc00"
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
